@page "/suggestion"
@inherits SignalRComponentBase<SuggestionModel>
@using CitizenHackathon2025V4.Blazor.Client.Pages.GenericEntities
@using CitizenHackathon2025V4.Blazor.Client.Common.SignalR
@using CitizenHackathon2025V4.Blazor.Client.Models
@inject OutZenSignalRService SignalRService
@inject SuggestionService SuggestionService

<h3>Suggestion Information</h3>

<GenericEntityList TModel="SuggestionModel"
                   Hub="/hubs/suggestionhub"
                   Event="notifyNewSuggestion"
                   LoadFunc="@LoadDataAsync"
                   @* RowTemplate="@(item => @<tr><td>@item.OriginalPlace</td><td>@item.SuggestedAlternative</td></tr>)" *@ />

@if (SuggestionsList?.Any() == true)
{
    <p class="text-muted">@SuggestionsList.Count() suggestions nearby</p>
    <button class="btn btn-success mt-2" @onclick="ShowOnMap">📍See on map</button>
    <div class="detail-container">
        <p>Info on suggestion</p>
    </div>

    <div class="card">Statistics</div>

    <button class="btn">Send</button>
    <div class="ultra-luxe">
        <Suggestion />
    </div>
}

@code {
    private List<SuggestionModel> SuggestionsList;
}







































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V4.Blazor.Client. All rights reserved. *@